@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Source+Code+Pro&display=swap');

:root {
  --outer-sm: 0.5rem;
  --outer-md: 1rem;
  --outer-lg: 2rem;
  --outer-xl: 3rem;

  /* colors */
  --body-bkgd: #2c2c2c;
  --navbar-bkgd: #4d4dff;
  --blockquote: #979797;
  --code-block-bkgd: #1f1f1f;
  --black: #000;
  --note: #ff4500;
  --b-color: beige; /*menu-items border color*/
    /* code colors */
  --p-chr: #32cd32;
  --p-kw: #ff8c00;
  --p-func: #ff1493;
  --p-self: #ff69b4;
  --p-str: #7cfc00;
  --p-prt: #9370db;
  --p-name: #1e90ff;
  --p-int: #00bfff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: var(--b-color);
    background: var(--body-bkgd);

    height: 100vh;
}

ul {
    list-style: none;
}

#document {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#navbar {
    background: var(--navbar-bkgd);
    padding: var(--outer-sm) var(--outer-md);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#avatar {
    height: var(--outer-xl);
    margin-right: auto;
}

#menu-items {
    display: flex;
    gap: var(--outer-sm);
    list-style: none;
    font-size: 1.2rem;
    padding: var(--outer-md) 0 var(--outer-md) var(--outer-md);
}

.nav-link {
    color: var(--b-color);
    text-decoration: none;
}

main {
    overflow-y: auto;
    padding: 0 var(--outer-md);
}

#welcome-section,
#contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 4rem;
}

#name {
    font-family: "Cinzel", serif;
    font-size: var(--outer-lg);
    font-weight: bold;
    letter-spacing: 0.13rem;
}

#pro {
    color: var(--navbar-bkgd);
    font-style: italic;
    font-size: x-large;
}

#social-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

object {
  min-width: 2rem;
  min-height: 2rem;
  max-width: 3.8rem;
  max-height: 3.8rem;
}

@media only screen and (min-width: 360px) {
    #menu-items {
        justify-content: flex-end;
        gap: var(--outer-md);
    }
}

@media only screen and (min-width: 700px) {
    #menu-items {
        gap: var(--outer-xl);
    }

    #navbar {
        padding: var(--outer-md) var(--outer-lg);
    }
}