@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Source+Code+Pro&display=swap');

:root {
  --outer-sm: 0.5rem;
  --outer-md: 1rem;
  --outer-lg: 2rem;
  --outer-xl: 3rem;
  --outer-xxl: 4rem;

  /* colors */
  --body-bkgd: #2c2c2c;
  --card-bkgd: #0073e6;
/*
  --card-bkgd: #7676d6;
*/
  --navbar-bkgd: #4d4dff;
  --blockquote: #979797;
  --code-block-bkgd: #1f1f1f;
  --black: #000;
  --note: #ff4500;
  --b-color: beige; /*menu-items border color*/
    /* code colors */
  --p-chr: #32cd32;
  --p-kw: #ff8c00;
  --p-func: #ff1493;
  --p-self: #ff69b4;
  --p-str: #7cfc00;
  --p-prt: #9370db;
  --p-name: #1e90ff;
  --p-int: #00bfff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: var(--b-color);
    background: var(--body-bkgd);

    height: 100vh;
}

ul {
    list-style: none;
}

#document {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#navbar {
    background: var(--navbar-bkgd);
    padding: var(--outer-sm) var(--outer-md);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#avatar {
    height: var(--outer-xl);
    margin-right: auto;
}

#name {
    font-family: "Cinzel", serif;
    font-size: var(--outer-lg);
    font-weight: bold;
    letter-spacing: 0.13rem;
}

#logo-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#menu-items {
    display: flex;
    gap: var(--outer-lg);
    font-size: 1.2rem;
    justify-content: space-between;
}

#menu-items li:hover {
    border-bottom: 2px solid var(--b-color);
}

.nav-link {
    color: var(--b-color);
    text-decoration: none;
}

main {
    overflow-y: auto;
}

#welcome-section,
#projects-section,
#contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding: 0 var(--outer-md);
    padding-bottom: 4rem;
}

#projects-section {
    height: unset;
    background: #393939;
}

/* welcome section */
#pro {
    color: var(--navbar-bkgd);
    font-style: italic;
    font-size: x-large;
}
/* welcome section - end */

/* projects-section */
.projects-section-title {
  font-size: 4.2rem;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid white;

  line-height: 1.4;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--outer-lg);
    margin-bottom: 6rem;
    width: 100%;
}

.project-card {
    background: var(--card-bkgd);
    box-shadow: var(--outer-md) var(--outer-md) var(--outer-lg) rgba(0, 0, 0, 0.5);
    border-radius: var(--outer-md);
    text-decoration: none;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
    border-radius: var(--outer-md) var(--outer-md) 0 0;
}

.project-title {
    color: var(--b-color);
    font-size: var(--outer-lg);
    padding: var(--outer-lg) var(--outer-sm);
}
/* projects-section - end */

/* contact-section */
#social-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

object {
  min-width: 2rem;
  min-height: 2rem;
  max-width: 3.8rem;
  max-height: 3.8rem;
}
/* contact-section - end */

@media only screen and (min-width: 540px) {
    #logo-items {
        flex-direction: row;
        justify-content: center;
        gap: var(--outer-md);
    }

    #menu-items {
        gap: var(--outer-xl);
    }

    #navbar {
        padding: var(--outer-md);
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: var(--outer-xxl);
    }
}

@media only screen and (min-width: 700px) {
    #navbar {
        padding: var(--outer-md) var(--outer-lg);
    }
}

@media only screen and (min-width: 780px) {
    #menu-items {
        align-items: center;
    }
}

@media only screen and (min-width: 840px) {
    #logo-items {
        margin-right: auto;
    }

    #menu-items .push {
        margin-left: auto;
    }
}

